   body {
       font-family: Arial, sans-serif;
       display: flex;
       justify-content: center;
       align-items: center;
       height: 100vh;
       margin: 0;
       background-color: #f4f4f4;
   }

   form {
       max-width: 400px;
       width: 100%;
       padding: 20px;
       border: 1px solid #ddd;
       border-radius: 5px;
       background-color: #fff;
       box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   }

   button.button {
       display: block;
       width: 100%;
       padding: 10px;
       background-color: #3498db;
       color: white;
       text-transform: uppercase;
       text-decoration: none;
       border: none;
       border-radius: 5px;
       cursor: pointer;
       margin-top: 10px;
       transition: background-color 0.3s;
   }

   button.button:hover {
       background-color: #2980b9;
   }