{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main_page</title>
<!--    <link rel="stylesheet" href="{% static 'css/main.css' %}">-->
</head>
<body>

<div>
    <p>Имя пользователя {{ user.username }}</p>
    <p>Главное меню</p>
  <form action="{% url 'theory_page' %}">
            <button class="button" type="submit">Переход к теории</button>
        </form>
  <form action="{% url 'test_page' %}">
            <button class="button" type="submit">Переход к тестам</button>
        </form>
  <form action="{% url 'tusks_page' %}">
            <button class="button" type="submit">Переход к задачам</button>
        </form>
  <form action="{% url 'formuls_page' %}">
            <button class="button" type="submit">Переход к формулам</button>
        </form>
  <form action="{% url 'constants_page' %}">
            <button class="button" type="submit">Просмотр констант</button>
        </form>
      <form action="{% url 'logout_my' %}">
            <button class="button" type="submit">Выход</button>
        </form>
</div>
</body>
</html>